In [1]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.ticker as ticker
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score

### About the dataset

Imagine a telecommunications provider has segmented its customer base by **service usage patterns**, categorizing the customers into four groups. **If demographic data can be used to predict group membership**, the company can customize offers for individual prospective customers. It is a classification problem. **That is, given the dataset, with predefined labels, we need to build a model to be used to predict class of a new or unknown case**.

The example focuses on using demographic data, such as **region, age, and marital status**, ***to predict usage patterns***.

The target field, called custcat, has four possible values that correspond to the four customer groups, as follows: **1- Basic Service 2- E-Service 3- Plus Service 4- Total Service**

Our objective is to build a classifier, to predict the class of unknown cases. We will use a specific type of classification called **K nearest neighbour**.

### Load Data From CSV File

In [159]:
df = pd.read_csv('teleCust1000t.csv')
df.head(7)

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3
5,2,41,39,0,17,78.0,2,16,0.0,1,1,3
6,3,45,22,1,2,19.0,2,4,0.0,1,5,2

### Data Visualization and Analysis

In [160]:
df['custcat'].value_counts()

3    281
1    266
4    236
2    217
Name: custcat, dtype: int64

**281 Plus Service, 266 Basic-service, 236 Total Service, and 217 E-Service customers**

### Feature set

##### Lets define feature sets, X:

In [2]:
X = df[['region','age', 'marital']] .values  #.astype(float)
X

NameError: name 'df' is not defined

### Target set

##### Lets define target sets, y:

In [ ]:
y= df['custcat'].values
y[0:5]

### Normalize Data

Data Standardization give data zero mean and unit variance, it is good practice, especially for algorithms such as KNN which is based on distance of cases:

In [ ]:
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))

#### Train Test Split

Out of Sample Accuracy is the percentage of correct predictions that the model makes on data that that the model has NOT been trained on. Doing a train and test on the same dataset will most likely have low out-of-sample accuracy, due to the likelihood of being over-fit.

It is important that our models have a high, out-of-sample accuracy, because the purpose of any model, of course, is to make correct predictions on unknown data. So how can we improve out-of-sample accuracy? One way is to use an evaluation approach called Train/Test Split. Train/Test Split involves splitting the dataset into training and testing sets respectively, which are mutually exclusive. After which, you train with the training set and test with the testing set.

This will provide a more accurate evaluation on out-of-sample accuracy because the testing dataset is not part of the dataset that have been used to train the data. It is more realistic for real world problems.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

## Classification

##### K nearest neighbor (KNN)

Import library

Classifier implementing the k-nearest neighbors vote.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

##### Training

In [ ]:
k = 3
#Train Model and Predict  
clf = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)

#### Predicting

we can use the model to predict the test set:

In [ ]:
y_pred = clf.predict(X_test)

#### Accuracy evaluation

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, accuracy_score

print("Train set Accuracy in Percentage: ", accuracy_score(y_train, clf.predict(X_train))* 100)
print("Test set Accuracy in Percentage: ", accuracy_score(y_test, y_pred) * 100)

### Confusion matrix

In [ ]:
cm = confusion_matrix(y_test, y_pred)
cm

### K Fold Cross Validation

Cross-validation can be used to estimate the test error associated with a learning method in order to evaluate its performance, or to select the appropriate level of flexibility.

We are performing a 10-fold cross validation on our dataset using a generated list of odd Kâ€™s ranging from 1 to 50.

In [ ]:
# creating list of K for KNN
k_list = list(range(1,50,2))
# creating list of cv scores
cv_scores = []

# perform 10-fold cross validation
for k in k_list:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, X_train, y_train, cv=10, scoring='accuracy')
    cv_scores.append(scores.mean())

#### Finally, we plot the misclassification error versus K

In [ ]:
# changing to misclassification error
MSE = [1 - x for x in cv_scores]

plt.figure()
plt.figure(figsize=(15,10))
plt.title('The optimal number of neighbors', fontsize=20, fontweight='bold')
plt.xlabel('Number of Neighbors K', fontsize=15)
plt.ylabel('Misclassification Error', fontsize=15)
sns.set_style("whitegrid")
plt.plot(k_list, MSE)

plt.show()

### Find the Optimal value

In [ ]:
# finding best k
best_k = k_list[MSE.index(min(MSE))]
print("The optimal number of neighbors is %d." % best_k)